bin/Debug/net7.0/quiz.deps.json
bin/Debug/net7.0/quiz.dll
bin/Debug/net7.0/quiz.exe
bin/Debug/net7.0/quiz.pdb
bin/Debug/net7.0/quiz.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/quiz.csproj.nuget.dgspec.json
obj/quiz.csproj.nuget.g.props
obj/quiz.csproj.nuget.g.targets
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/quiz.AssemblyInfo.cs
obj/Debug/net7.0/quiz.AssemblyInfoInputs.cache
obj/Debug/net7.0/quiz.assets.cache
obj/Debug/net7.0/quiz.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/quiz.csproj.FileListAbsolute.txt
obj/Debug/net7.0/quiz.dll
obj/Debug/net7.0/quiz.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/quiz.genruntimeconfig.cache
obj/Debug/net7.0/quiz.GlobalUsings.g.cs
obj/Debug/net7.0/quiz.pdb
obj/Debug/net7.0/ref/quiz.dll
obj/Debug/net7.0/refint/quiz.dll
